/* Regular Desktop Styles */
.home-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.hero-section {
    background: url('./sparks.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.about-section, .services-section, .testimonials-section, .cta-section {
    padding: 40px 0;
}

.service-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.video-popup {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
     background-color: rgba(0, 0, 0, 0.999);
     transition: opacity 1s ease-out;
     opacity: 1;
}

.fade-out {
    opacity: 0;
}

.popup-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .home-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;
    }

    .tiger-image {
    width: 250px; /* Adjusts the width for mobile devices */
    }

    .hero-section {
        padding: 30px 0;
    }

    .about-section, .services-section, .testimonials-section, .cta-section {
        padding: 20px 0;
    }

    .service-item {
        padding: 10px;
        margin: 10px 0;
    }

    .btn {
        padding: 8px 16px;
        margin-top: 15px;
    }
}